<div class="container-fluid">
	<h2>Browse Pets</h2>
	<div class="row">
		<div class="col-3">
			<div class="card">
				<img class="card-img-top" src="favicon.ico"
					alt="Featured pet image">
				<div class="card-body">
					<h4 class="card-title">name, age</h4>
					<p class="card-text">breed</p>
					<p class="card-text">description</p>
					<a href="#" class="btn btn-primary inquire-btn">Details</a>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<img class="card-img-top" src="favicon.ico"
					alt="Featured pet image">
				<div class="card-body">
					<h4 class="card-title">name, age</h4>
					<p class="card-text">breed</p>
					<p class="card-text">description</p>
					<a href="#" class="btn btn-primary inquire-btn">Details</a>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<img class="card-img-top" src="favicon.ico"
					alt="Featured pet image">
				<div class="card-body">
					<h4 class="card-title">name, age</h4>
					<p class="card-text">breed</p>
					<p class="card-text">description</p>
					<a href="#" class="btn btn-primary inquire-btn">Details</a>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<img class="card-img-top" src="favicon.ico"
					alt="Featured pet image">
				<div class="card-body">
					<h4 class="card-title">name, age</h4>
					<p class="card-text">breed</p>
					<p class="card-text">description</p>
					<a href="#" class="btn btn-primary inquire-btn">Details</a>
				</div>
			</div>
		</div>
	</div>
</div>