<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">Looking for a furever friend?</h1>
		<p class="lead">We have over 10,000 animals in need of a home</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">find a
			pet</a>
	</div>
</div>

<div class="container">
	<h2>Featured Pets</h2>
	<div class="row">
		<div class="col-4">
			<div class="card">
				<img class="card-img-top"
					src="favicon.ico"
					alt="Featured pet image">
				<div class="card-body">
					<h4 class="card-title">name, age</h4>
					<p class="card-text">breed</p>
					<p class="card-text">description</p>
					<a href="#" class="btn btn-primary inquire-btn">Details</a>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card">
				<img class="card-img-top"
					src="favicon.ico"
					alt="Featured pet image">
				<div class="card-body">
					<h4 class="card-title">name, age</h4>
					<p class="card-text">breed</p>
					<p class="card-text">description</p>
					<a href="#" class="btn btn-primary inquire-btn">Details</a>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card">
				<img class="card-img-top"
					src="favicon.ico"
					alt="Featured pet image">
				<div class="card-body">
					<h4 class="card-title">name, age</h4>
					<p class="card-text">breed</p>
					<p class="card-text">description</p>
					<a href="#" class="btn btn-primary inquire-btn">Details</a>
				</div>
			</div>
		</div>
	</div>
</div>